<body>
  <div class="app-header text-center">
    <app-navbar-toggler [(state)]="toggleButtonState" (stateChange)="updateSidebarState($event)" class="d-inline-block"></app-navbar-toggler>
    <a [routerLink]='["/"]' class="no-underline" title="MusicDemons">
      <span class="text-dark font-weight-bold d-inline-block my-1 logo">MusicDemons</span>
    </a>
  </div>
  <div class="app-body" [ngClass]="sidebarState" id="app-body">
    <app-sidebar [activeUser]="activeUser" (logoutClicked)="logoutClicked()"></app-sidebar>
    <div class="main-body pb-1">
      <div class="main-content m-4 p-4">
        <div [@fadeAnimation]="getAnimationData(o)" [ngClass]="{'mx-auto': true, 'main-container': true, 'width-100': fullWidth}">
          <router-outlet #o="outlet" (activate)="routingActivated($event)" (deactivate)="routingDeactivated($event)"></router-outlet>
        </div>
      </div>
      <div class="main-footer px-3">
        &copy; MusicDemons
      </div>
    </div>
  </div>
</body>
